body {
    margin: 0;
}
main {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
}

section{
    flex: 1 0 200px;
    padding: 10px;
    border-style: solid;
    border-radius: 10px;
}

section header {
    display: flex;
    justify-content: space-between;
    padding: 40 px;
}

#applications {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

.app {
    flex: 1 0 200px;
    padding: 10px;
    border-style: dotted;
    border-radius: 10 px;
}