* {
    background-color: rgb(238, 242, 255);
    color: rgb(41, 64, 87);
    font-family: Helvetica, Arial, sans-serif;
    justify-content: center;
}

ul {
    list-style: none;
}

/* Header */
header {
 margin: 20px 10px 20px 10px;
 max-width: 50%;
 display: flex;
 flex-wrap: wrap;
}

h1, h2, h3 {
    font-family: Helvetica, Arial, sans-serif;
    color:rgb(41, 64, 87);
    margin-bottom: 20px;
}

/* Navigation */
nav { 
    display: flex;
    flex-direction: row;
}

/* nav ul li {
    display: flex;
    flex-direction: row;
    margin: 5px 5px 5px 5px;
} */

/* Content */

#about-me {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

#about-me img {
    border-radius: 50%;
    width: 15%;
    display: inline;
}

#applications {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    width: 80%;
}

.app {
    border-width: 10px;
    border-color: black;
    border-style: dashed;
    width: 30%;
    display: flex;
    flex-grow: 1;
}

#applications img {
    max-width: 80%;
}


/* Footer */

/* Media Queries */