* {
    background-color: papayawhip;
    color:darkslategray;
    font-family: Helvetica, Arial, sans-serif;
}
body {
    margin: 10%;
}

li {
    list-style-type: none;
}

main {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    width: 90%;
    justify-content: center;
}

section{
    flex: 1 0 200px;
    padding: 10px;
    border-style: solid;
    border-radius: 10px;
}

section header {
    display: flex;
    /*flex-wrap: wrap;*/
    padding: 40 px;
    margin: 40px;
}

#about-me img {
    justify-content: left;
    border-radius: 15%;
    width: 15%;
}

#applications {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}
.app {
    flex: 0 0 10%;
    padding: 10px;
    border-style: dotted;
    border-radius: 10 px;
}

.app a img {
    max-width: 60%;
}

.app:nth-of-type(1){
    flex-grow: 1;
}