.container{
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    justify-content: space-around;
  }
    
  .child:nth-child(1) {
    background-color: mediumturquoise;
    width: 100%;
  }

  .child:not(:nth-child(1)){
    background-color:red;
    padding: 30px;
  }